/* Uitlities classes */
.container {
  max-width: var(--max-width);
  margin: auto;
}

.page-title {
  color: var(--text-color-active);
  border: solid 1px var(--text-color-light);
  max-width: 70%;
  margin: 0 auto;
  background-color: var(--primary-color);
  padding: 0.4rem 0;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7);
}

.sub-title {
  color: var(--text-color-active);
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.center-text {
  text-align: center;
}

.bg-dark {
  background: var(--background-dark);
  color: var(--text-color-light);
}

.bg-light {
  background-color: var(--background-light);
}

.bg-primary {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn {
  display: inline-block;
  font-size: 0.9rem;
  color: var(--text-color-light);
  background: transparent;
  /* background: var(--background-dark); */
  padding: 0.5rem 1.25rem;
  border: solid 1px var(--text-color-light);
  border-radius: 2rem;
  outline: none !important;
  cursor: pointer;
}

.btn-light {
  background: var(--background-light);
  color: var(--text-color-dark);
}

.btn:hover {
  background: #e65100;
  color: #333;
}

.box {
  padding: 2.5rem;
  text-align: center;
  width: 100%;
}

.box i {
  margin-bottom: 1rem;
}

.goback {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #f4f4f4;
  margin-bottom: 1.4rem;
}

/* Media Queries */
/* min-width:768px */
@media (min-width: 768px) {
  .btn {
    font-size: 1rem;
  }
}
