@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Balsamiq Sans', sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #0d47a1,
    #2a67b9,
    #4988d0,
    #6ba9e5,
    #90caf9
  );
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.4rem;
}

header img {
  width: 3rem;
}

.page-title {
  font-weight: 300;
  margin-left: 0.8rem;
}

.container {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 20px;
  background: #fff;
  border: solid 1px #b2b2b2;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

/* Form & Input */

.form-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 1.25rem;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.3;
  outline: none;
}

.form-input-filter {
  margin-top: 1.25rem;
  width: 100%;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  padding: 0.6rem;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
}

/* Buttons */
.btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1.25rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #444;
}

.btn-primary {
  background-color: #2a67b9;
}

.btn-primary:hover {
  background-color: #6ba9e5;
  color: #333;
}

.btn-link {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 1.25rem;
  width: 100%;
  font-size: 1rem;
  background: #ef6c00;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.6rem 1.25rem;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: #f58932;
}

.text-red {
  color: red;
}

/* Items */
.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.25rem;
}

.items li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  margin: 0 0.3rem 1.25rem;
  font-weight: 400;
}
