@import '../../assets/site.css';
@import '../../assets/navbar.css';
@import '../../assets/colors.css';
@import '../../assets/utilities.css';

/* css classes for about page */
#about-area {
  padding: 3rem 1.25rem;
  background: var(--background-light);
}

#about-area div {
  max-width: var(--max-width);
  margin: auto;
}

#about-area h3 {
  text-align: center;
}

#about-area img {
  display: none;
}

#testimonials-area {
  background: var(--primary-color);
  color: var(--text-color-light);
  padding: 1rem;
}

#testimonials-area h3 {
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  font-size: 1.2rem;
}

#testimonials-area > div {
  display: flex;
  flex-direction: column;
}

#testimonials-area > div section {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 960px;
  margin: auto;
  text-align: left;
  background: var(--background-testimonial);
  margin-bottom: 2rem;
  border-radius: 10px;
}

#testimonials-area > div section img {
  display: block;
  width: 5rem;
  float: left;
  margin: 1.25rem;
  border-radius: 20%;
}

/* MEDIA QUERIES */
/* min-width: 768px */
@media (min-width: 768px) {
  #about-area div {
    display: flex;
  }

  #about-area img {
    display: block;
    height: 250px;
    border: solid 1px var(--background-dark);
    background: var(--background-light);
    padding: 2px;
  }
}
